@use './reset';
@use './productCards';
@use './golden-ratio';
@use './home-page';
@use './testimonials';
@use './footer';

:root {
  --background-color: #121212;
  --text-color: #f5f5f0;
  --primary-accent-color: #d0ab30;
  --secondary-accent-color: #a8221e;
  --progress-bar-color: #2a2a2a;
  --pressed-btn-yellow-color: #8f6e00;
  --pressed-btn-white-color: #bebebe;
}

body {
  background-color: var(--background-color);
  position: relative;
  overflow-x: hidden;
}

body.nav-open {
  overflow: hidden;

  main,
  footer {
    filter: blur(4px);
  }
}

header {
  display: flex;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--background-color);

  a {
    font-family: Roboto Condensed;
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 300;
  }

  .hamburger-icon {
    width: 25.5px;
    height: 17px;
  }

  .header-logo {
    display: none;
  }

  .mobile-logo {
    margin-right: auto;
    margin-left: 20px;
  }

  .bag-icon {
    margin-left: auto;
  }
}

.navbar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background-color: var(--background-color);
  z-index: 999;

  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    gap: 80px;
    padding: 40px;
  }

  &.open {
    display: flex;
  }

  .close-icon {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;

    &.visible {
      display: block;
    }
  }

  .navbar-logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

h1 {
  font-family: 'Bodoni moda SC';
  letter-spacing: clamp(0.05em, 1vw, 0.1em);
  font-weight: 500;
  line-height: 1.1;
  color: linear-gradient(to right, #dba901, #e6c35c);
  text-transform: uppercase;
}

h2 {
  font-family: Roboto Condensed;
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-accent-color);
  position: relative;
  padding-left: 16px;
  margin-left: 40px;
  text-transform: uppercase;
}

h2::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-accent-color);
}

h3 {
  font-family: 'Bodoni moda SC';
  letter-spacing: 0.03em;
  line-height: 1.2;
  text-transform: uppercase;
}

p {
  font-family: Roboto Condensed;
  font-size: 24px;
  font-weight: 400;
  color: var(--text-color);
  letter-spacing: 0;
  max-width: 65ch;
}

.cookies {
  z-index: 1000;
  width: 100%;
  height: auto;
  background-color: var(--background-color);
  border: 2px solid var(--primary-accent-color);
  padding: 20px;
  row-gap: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;

  h2 {
    font-family: 'Bodoni moda SC';
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 1.0;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }

  h2::before {
    display: none;
  }

  p {
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    span {
      display: block;
    }
  }

  .cookies-btn-container {
    display: flex;
    gap: 10px;

    button {
      text-transform: uppercase;
      background-color: var(--background-color);
      width: 150px;
      height: 50px;
      font-family: Cormorant;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.0;
      letter-spacing: 0;
      cursor: pointer;
    }

    .cookies__btn--accept {
      color: var(--primary-accent-color);
      border: 0.5px solid var(--primary-accent-color);

      &:hover {
        background-color: var(--primary-accent-color);
        color: var(--background-color);
      }

      &.active {
        background-color: var(--pressed-btn-yellow-color);
        border: 0.5px solid var(--pressed-btn-yellow-color);
      }
    }

    .cookies__btn--decline {
      color: var(--text-color);
      border: 0.5px solid var(--text-color);

      &:hover {
        background-color: var(--text-color);
        color: var(--background-color);
      }

      &.active {
        background-color: var(--pressed-btn-white-color);
        border: 0.5px solid var(--pressed-btn-white-color);
      }
    }
  }

  @media screen and (min-width: 768px) {
    h2 {
      font-size: 32px;
    }

    p {
      font-size: 18px;
    }

    .cookies-btn-container {
      button {
        width: 230px;
        font-size: 28px;
      }
    }
  }
}

.hidden {
  display: none;
}

@media screen and (min-width: 992px) {
  header {
    justify-content: space-between;
    padding: 40px;

    .header-logo {
      display: block;
      margin-right: auto;
    }

    .hamburger-icon,
    .mobile-logo,
    .close-icon,
    .navbar-logo {
      display: none;
    }
  }

  .navbar {
    display: block;
    position: static;
    height: auto;
    background-color: transparent;
    width: 100%;

    nav {
      display: flex;
      flex-direction: row;
      gap: 40px;
    }
  }
}