@use './reset';
@use './productCards';
@use './golden-ratio';
@use './testimonials';

:root {
  --background-color: #121212;
  --text-color: #f5f5f0;
  --primary-accent-color: #d0ab30;
  --secondary-accent-color: #a8221e;
  --progress-bar-color: #2a2a2a;
}

body {
  background-color: var(--background-color);
  position: relative;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--background-color);

  nav {
    display: flex;
    gap: 40px;
  }

  a {
    font-family: Roboto Condensed;
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 300;
  }
}

.header-logo {
  margin-right: auto;
}

.bag-icon {
  margin-left: auto;
}

h1 {
  font-family: 'Bodoni moda SC';
  letter-spacing: clamp(0.05em, 1vw, 0.1em);
  font-weight: 500;
  line-height: 1.1;
  color: linear-gradient(to right, #dba901, #e6c35c);
  text-transform: uppercase;
}

h2 {
  font-family: Roboto Condensed;
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-accent-color);
  position: relative;
  padding-left: 16px;
  margin-left: 40px;
  text-transform: uppercase;
}

h2::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-accent-color);
}

h3 {
  font-family: 'Bodoni moda SC';
  letter-spacing: 0.03em;
  line-height: 1.2;
  text-transform: uppercase;
}

p {
  font-family: Roboto Condensed;
  font-size: 24px;
  font-weight: 400;
  color: var(--text-color);
  letter-spacing: 0;
  max-width: 65ch;
}

.hero {
  min-height: 100vh;
  background: url('./src/assets/product-images/golden-fries.png') center/cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 30px;
}

.hero-label,
.hero-title,
.hero-text {
  margin: 50px;
  line-height: 1.1;
}

.cookies {
  z-index: 1000;
  width: 100%;
  height: auto;
  background-color: var(--background-color);
  border: 2px solid var(--primary-accent-color);
  padding: 20px;
  row-gap: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;

  h2 {
    font-family: 'Bodoni moda SC';
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 1.0;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }

  h2::before {
    display: none;
  }

  p {
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    span {
      display: block;
    }
  }

  .cookies-btn-container {
    display: flex;
    gap: 10px;

    button {
      text-transform: uppercase;
      background-color: var(--background-color);
      width: 150px;
      height: 50px;
      font-family: Cormorant;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.0;
      letter-spacing: 0;
      cursor: pointer;
    }

    #accept-btn {
      color: var(--primary-accent-color);
      border: 0.5px solid var(--primary-accent-color);
    }

    #decline-btn {
      color: var(--text-color);
      border: 0.5px solid var(--text-color);
    }
  }

   @media screen and (min-width: 768px) {
    width: 490px;
    height: 181px;
    padding: 20px 10px;
    left: 50%;
    transform: translateX(-50%);

    h2 {
      font-size: 32px;
    }

    p {
      font-size: 18px;
    }

    .cookies-btn-container {
      button {
        width: 230px;
        font-size: 28px;
      }
    }
  }
}

.hidden {
  display: none;
}