h2 {
  font-family: 'Cormorant', sans-serif;
  font-size: 12rem;
}


.hero {
  min-height: 100vh;
  background: url('./assets/product-images/golden-fries.png') center/cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 30px;
}

.hero-label, 
.hero-title, 
.hero-text {
  margin: 50px;
  line-height: 1.1;
}

.testimonials {
  padding: 80px 60px;
  text-align: center;
}

.testimonials-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
}

.testimonials-card {
  padding: 0 40px;
  border-left: 1px solid #D0AB30;
}

.testimonials-card:first-child {
  border-left: none;
  padding-left: 0;
}

.testimonials-text {
  font-style: italic;
  line-height: 1.7;
  margin-bottom: 32px;
}

.testimonials-name {
  margin: 0 0 4px 0;
}

.testimonials-jobs {
  font-size: 0.85rem;
  opacity: 0.6;
  margin: 0;
  font-style: italic;
}
