h2 {
  font-family: 'Cormorant', sans-serif;
  font-size: 12rem;
}

body {
  background-color: #121212;
  color: white;
}


.hero {
  min-height: 100vh;
  background: url('./src/assets/product-images/golden-fries.png') center/contain;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 30px;
}

.hero-label {
  margin: 0 0 8px 0;
}

.hero-title {
  margin: 0 0 16px 0;
  line-height: 1.1;
  font-family: 'Bodoni Moda SC', sans-serif;
  font-size: 5rem;
}

.hero-text {
  margin: 0;
}
